rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para los avatares de los usuarios
    match /avatars/{userId}/{allPaths=**} {
      // PERMITE LECTURA: Cualquiera puede leer los avatares.
      allow read;
      
      // PERMITE ESCRITURA: Solo el usuario autenticado y propietario
      // de ese 'userId' puede escribir en su propia carpeta.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
